<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6">
        <div id="display" class="card mb-3">
            <img src="<%= coffeeplace.image %>" class="card-img-top" alt="...">
            <div class="card-body">
            <div class="card-body">
              <h5 class="card-title"><%= coffeeplace.title %></h5>
              <h5 class="card-title" style="font-size: 0.95em; color: dimgray;"><%= coffeeplace.author.username %></h5>
              <p class="card-text"><%= coffeeplace.descreption %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= coffeeplace.location %></li>
              <li class="list-group-item">SR <%= coffeeplace.price %>/hour</li>
            </ul>
            <% if(currentUser && currentUser._id.equals(coffeeplace.author._id)){ %> 
            <div class="card-body">
                <a href="/coffeeplaces/<%=coffeeplace._id%>/edit" class="btn btn-info">Edit</a>
                <form class="d-inline" action="/coffeeplaces/<%=coffeeplace._id%>/?_method=DELETE" method="POST">
                    <button class=" btn btn-danger">DELETE</button>
                </form>
            </div>
            <% } %> 
            <% if(coffeeplace.createdAt){ %> 
            <div class="card-footer text-muted">
                <%=`${coffeeplace.createdAt.getDate()} ${coffeeplace.createdAt.getMonth()+1} ${coffeeplace.createdAt.getFullYear()}`%>
            </div>
            <% } %>
          </div>
          <% if(currentUser){ %> 
          <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Leave a Review
          </button>
          <div class="collapse" id="collapseExample">
            <form action="/coffeeplaces/<%= coffeeplace._id %>/reviews" method="POST">
              <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
              </div>
              <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
              </div>
              <button class="btn btn-success mb-3">Submit</button>
            </form>
          </div>
          <% } %> 
    </div>
    <div class="col-6">
      <% for(let review of coffeeplace.reviews){ %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Rating: <%= review.rating %></h5>
            <h5 class="card-title" style="font-size: 0.93em;">By: <%= review.author.username %></h5>
            <% if(review.body){ %>
              <p class="card-text">Review: <%= review.body %></p>
            <% } %>
            <% if(currentUser && currentUser._id.equals(review.author._id)){ %> 
            <form action="/coffeeplaces/<%=coffeeplace._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %> 
          </div>
        </div>
        <% } %> 
    </div>
</div>
<!-- <script type="text/javascript">
//canter elements if no review is found: (not working)
  const disp = document.getElementById("display");
  if(!coffeeplace.reviews){
    //TO DO: HOW TO ACCESS MONGODB FROM SCRIPT TAG???
    disp.classList.add("offset-3")
  }
</script> -->